VK_BOT_TOKEN=vk1.a.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VK_GROUP_ID=237061650
CHSU_GROUP_NAME=2ПДОб-13-1оп-24

# Несколько пар логин:пароль через ;
CHSU_CREDENTIALS="login1:password1;login2:password2"

# Опционально (если не используешь CHSU_CREDENTIALS)
# CHSU_LOGIN=login
# CHSU_PASSWORD=password
